Lectures/
pset2.zip
Problem\ Sets/pset1/test.py
Problem\ Sets/pset2/problem1.txt
Problem\ Sets/pset2/probem2.txt
Problem\ Sets/pset2/problem3.txt
Problem\ Sets/pset2/problem4.txt
Problem\ Sets/pset2/problem5
Problem\ Sets/pset2/Getting_started.txt
